exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(BiocManager)
import(mzR)
import(readxl)
import(parallel)
import(doSNOW)
import(foreach)
import(stringi)
import(IDSL.IPA)
import(GA)
import(doParallel)
import(stats)
import(ggplot2)
import(gridExtra)
importFrom("grDevices", "colorRampPalette", "png", "rainbow")
importFrom("graphics", "boxplot", "lines", "par", "title")
importFrom("utils", "data", "setTxtProgressBar", "txtProgressBar", "write.csv", "read.csv")
